<div class="card-container d-flex justify-content-around mb-5">
	<a routerLinkActive="active" routerLink="/estudios">
		<div class="card" style="width: 13rem;">
			<div *ngFor="let url_i of url">
				<img *ngIf="url_i.descripcion === 'Portada categoría estudio'" [src]="url_i.urlFoto" id="foto" class="img-fluid card-img-top" [alt]="url_i.descripcion">
			</div>
			<div class="card-body">
				<p class="card-text h4">Estudios</p>
			</div>
		</div>
	</a>
	<a routerLinkActive="active" routerLink="/conocimientos">
		<div class="card" style="width: 13rem;">
			<div *ngFor="let url_i of url">
				<img *ngIf="url_i.descripcion === 'Portada categoría conocimientos'" [src]="url_i.urlFoto" id="foto" class="img-fluid card-img-top" [alt]="url_i.descripcion">
			</div>
			<div class="card-body">
				<p class="card-text h4">Conocimientos</p>
			</div>
		</div>
	</a>
	<a routerLinkActive="active" routerLink="/experiencia">
		<div class="card" style="width: 13rem;">
			<div *ngFor="let url_i of url">
				<img *ngIf="url_i.descripcion === 'Portada categoría experiencia'" [src]="url_i.urlFoto" id="foto" class="img-fluid card-img-top" [alt]="url_i.descripcion">
			</div>
			<div class="card-body">
				<p class="card-text h4">Experiencia</p>
			</div>
		</div>
	</a>
	<a routerLinkActive="active" routerLink="/proyectos">
		<div class="card" style="width: 13rem;">
			<div *ngFor="let url_i of url">
				<img *ngIf="url_i.descripcion === 'Portada categoría proyectos'" [src]="url_i.urlFoto" id="foto" class="img-fluid card-img-top" [alt]="url_i.descripcion">
			</div>
			<div class="card-body">
				<p class="card-text h4">Proyectos</p>
			</div>
		</div>
	</a>
	<a routerLinkActive="active" routerLink="/certificaciones">
		<div class="card" style="width: 13rem;">
			<div *ngFor="let url_i of url">
				<img *ngIf="url_i.descripcion === 'Portada categoría certificaciones'" [src]="url_i.urlFoto" id="foto" class="img-fluid card-img-top" [alt]="url_i.descripcion">
			</div>
			<div class="card-body">
				<p class="card-text h4">Certificaciones</p>
			</div>
		</div>
	</a>
	<a routerLinkActive="active" routerLink="/acerca-de-esta-pagina">
		<div class="card" style="width: 13rem;">
			<div *ngFor="let url_i of url">
				<img *ngIf="url_i.descripcion === 'Portada categoría acerca de esta página'" [src]="url_i.urlFoto" id="foto" class="img-fluid card-img-top" [alt]="url_i.descripcion">
			</div>
			<div class="card-body">
				<p class="card-text h4 fst-italic">Info de la Web</p>
			</div>
		</div>
	</a>
</div>