<div class="card-container d-flex justify-content-around">
	<a routerLinkActive="active" routerLink="/estudios">
		<div class="card" style="width: 13rem;">
			<img class="card-img-top" src="/assets/EstudioCard.jpg" alt="Sección de Estudios">
			<div class="card-body">
				<p class="card-text h4">Estudios</p>
			</div>
		</div>
	</a>
	<a routerLinkActive="active" routerLink="/conocimientos">
		<div class="card" style="width: 13rem;">
			<img class="card-img-top" src="/assets/ConocimientosCard.jpg" alt="Sección de Conocimientos">
			<div class="card-body">
				<p class="card-text h4">Conocimientos</p>
			</div>
		</div>
	</a>
	<a routerLinkActive="active" routerLink="/experiencia">
		<div class="card" style="width: 13rem;">
			<img class="card-img-top" src="/assets/ExperienciaCard.jpg" alt="Sección de Experiencia">
			<div class="card-body">
				<p class="card-text h4">Experiencia</p>
			</div>
		</div>
	</a>
	<a routerLinkActive="active" routerLink="/proyectos">
		<div class="card" style="width: 13rem;">
			<img class="card-img-top" src="/assets/ProyectosCard.jpg" alt="Sección de Proyectos">
			<div class="card-body">
				<p class="card-text h4">Proyectos</p>
			</div>
		</div>
	</a>
	<a routerLinkActive="active" routerLink="/certificaciones">
		<div class="card" style="width: 13rem;">
			<img class="card-img-top" src="/assets/CertificacionesCard.jpg" alt="Sección de Certificaciones">
			<div class="card-body">
				<p class="card-text h4">Certificaciones</p>
			</div>
		</div>
	</a>
	<a routerLinkActive="active" routerLink="/acerca-de-esta-pagina">
		<div class="card" style="width: 13rem;">
			<img class="card-img-top" src="/assets/InfoCard.jpg" alt="Sección de datos interesantes sobre esta página">
			<div class="card-body">
				<p class="card-text h4 fst-italic">Info de la Web</p>
			</div>
		</div>
	</a>
</div>