body {
    background-image: url("fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
}

.titulos {
    color: white;
    background-color: black;
    display: inline-block;
}

@media screen and (min-width: 992px) and (max-width: 1230px) {
    @media screen and (min-width: 992px) {
        #conocimientos {
            font-size: 18px;
        }
    }
    @media screen and (min-width: 992px) {
        #conocimientos {
            font-size: 18px;
        }
    }
    @media screen and (min-width: 1072px) {
        #conocimientos {
            font-size: 20.4px;
        }
    }
    @media screen and (min-width: 1152px) {
        #conocimientos {
            font-size: 22px;
        }
    }
}

#contacto {
    align-content: end;
}

.foto-container {
    padding: 5%;
    width: auto;
}

#foto {
    border-radius: 5%;
    overflow: hidden;
}

.index-container {
    margin: 5%;
    background-color: #79473a;
}

ul {
    list-style: none;
}

li a {
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.container {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
    width: 100%;
}

.italica {
    font-style: italic;
}

h1 {
    font-size: 3.5rem;
    margin-top: 10%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#main-container {
    min-height: calc(100vh - 200px);
}