body {
    background-image: url("fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
}

.titulos {
    color: white;
    background-color: black;
    display: inline-block;
}

/* @media screen and (min-width: 1200px) {
    .h1 {
        font-size: 56px;
    }

    .h2 {
        font-size: 32px;
    }
} */

#contacto {
    align-content: end;
}

.foto-container {
    padding: 5%;
    max-height: 50%;
    width: auto;
}

#foto {
    border-radius: 5%;
    overflow: hidden;
}

.indice {
    font-size: auto;
    padding: 5%;
}

.container {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
    width: 100%;
}

#italica {
    font-style: italic;
}

h1 {
    font-size: 3.5rem;
    margin-top: 10%;
}

ul {
    width: 170px;
    list-style: none;
    background-color: #79473a;
    border-radius: 10px;
}

li {
    padding: 15px 15%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#main-container {
    min-height: calc(100vh - 200px);
}