.foto-container {
  padding: 5%;
}

#foto {
  border-radius: 5%;
  overflow: hidden;
  border-style: solid;
  border-width: thick;
}

.resumen {
  font-size: 20px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}
