<div class="container-fluid p-0">
	<div class="row align-items-center m-0">
		<div class="col-12 col-lg-10">
			<!-- Presentacion -->
			<ng-container *ngIf="persona && persona.length > 0">
			<p class="titulos display-2 mt-3">{{persona[0].nombre}} {{persona[0].apellido}}</p>
			<br>
			<p class="titulos h2">{{persona[0].ocupacion}}</p>
			<br>
			<p class="titulos italica h2">{{persona[0].nivel}}</p>
			<!-- Resumen Personal -->
			<div class="resumen mt-5 d-block pr-3">
				<h1 class="titulos m-0">Resumen personal</h1>
				<p class="titulos" style="white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -o-pre-wrap;">{{persona[0].resumen}}
				</p>
			</div>
		</ng-container>
		</div>
		<div class="col-12 col-lg-2">
			<!-- Foto -->
			<div class="foto-container align-items-center">
				<!-- <img [src]="url[0]?.urlFoto" id="foto" class="img-fluid" alt="Foto de Santiago Valdez"> -->

				<img src="/assets/FotoPerfil.jpg" id="foto" class="img-fluid" alt="Foto de Santiago Valdez">
			</div>
		</div>
	</div>
</div>