<div class="container-fluid m-0 p-0">
	<app-navbar></app-navbar>
	<div class="container-fluid mt-3">
		<p class="h1 titulos">Conocimientos</p><br>
		<p class="titulos">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae alias eveniet odio eligendi, optio porro
			reiciendis id repellat dolorum voluptatibus impedit quam consequatur? Iure dolorum expedita, illo aliquid
			maxime rerum.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae alias eveniet odio eligendi, optio porro
			reiciendis id repellat dolorum voluptatibus impedit quam consequatur? Iure dolorum expedita, illo aliquid
			maxime rerum.
		</p>
		<p class="titulos">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae alias eveniet odio eligendi, optio porro
			reiciendis id repellat dolorum voluptatibus impedit quam consequatur? Iure dolorum expedita, illo aliquid
			maxime rerum.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae alias eveniet odio eligendi, optio porro
			reiciendis id repellat dolorum voluptatibus impedit quam consequatur? Iure dolorum expedita, illo aliquid
			maxime rerum.
		</p>
	</div>
</div>