<div class="container-fluid m-0 p-0">
	<app-navbar></app-navbar>
	<div class="container-fluid mt-3">
		<p *ngIf="estudio == null" class="h1 mt-3 titulos">Cargando...</p>
		<ng-container *ngIf="estudio != null">
			<ng-container *ngFor="let estudio_i of estudio">
				<p class="titulos display-4 mt-3 fst-italic pb-1" style="color: coral;">{{estudio_i.titulo}}</p>
				<div *ngFor="let parrafo of descripcion" class="titulos descripcion mt-1">
					<p>{{ parrafo }}</p>
				</div>
			</ng-container>
		</ng-container>
	</div>
</div>