body {
    background-image: url("assets/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
}

.titulos {
    color: white;
    background-color: black;
    display: inline-block;
}